.summary {
	font-size: 14px;
  font-family: Arial, "Liberation Sans", sans-serif;
}
.summary-entries div {
	padding: 5px;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 5px;
	font-weight: bold;
}
.summary-entries div:hover {
	color: darkblue;
}
.success {
	background: url(img/tick.png) no-repeat top right;
}
.failed {
	background: url(img/cross.png) no-repeat center right;
}
.evaluation-final {
	font-weight: bold;
}
