.summary {
  font-family: Arial, "Liberation Sans", sans-serif;
}
.summary-entries div {
	cursor: pointer;
}
.success {
	background: url(img/tick.png) no-repeat top right;
}
.failed {
	background: url(img/cross.png) no-repeat center right;
}
