.summary {
  font-family: Arial, "Liberation Sans", sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.hotspot {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.action-container {
  position: relative;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.progress {
  position: absolute;
  z-index: 201;
}
.boardgame-intro {
  position: absolute;
  left: 0px;
  bottom: -360px; /* Mostly out of the screen */
  width: 100%;
  height: 435px;
  z-index: 200;
  background: transparent url(img/intro-bg.png);
  color: #2d2c28;

  -webkit-transition: bottom 1s; /* Safari and Chrome */
  -moz-transition: bottom 1s; /* Firefox 4 */
  -o-transition: bottom 1s; /* Opera */
  transition: bottom 1s;
}

.boardgame-intro.open {
  bottom: 0px;
  z-index: 202;
}

.bgi-content h1 {
  color: white;
  font-size: 40px;
  line-height: 78px;
  margin: 0;
  padding: 0 16px;
  text-align: center;
}

.bgi-content p {
  margin: 1em 3em;
  font-size: 24px;
  line-height: 28px;
  color: #2d2c28;
}

.bgi-content .buttons {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 150%;
  padding: 10px 30px;
}

.boardgame .button {
  cursor: pointer;
  color: #2d2c28;

  font-size: 16px;
  padding: 11px 16px;
  text-align: center;

  border: 1px solid #808080;
  border-radius: 4px;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.boardgame .button:hover {
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e3f5ab 47%, #c2ef6e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#e3f5ab), color-stop(100%,#c2ef6e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2ef6e',GradientType=0 ); /* IE6-9 */
}

.summary .button.skip {
  position: absolute;
  top: 15px;
  right: 15px;
}
